		<div class="widget-option widget-id-<%= widget.id %>" style="border: 1px solid rgb(203, 203, 203); margin: 0px 1em 1em 0px; transition: border-color 0.3s ease 0s; padding: 4px;">
            <span class="icon">
                <i class="fa fa-bars"></i>
            </span>
            <span ><%= widget.title %></span>
        </div>
