<div style="height: 809px; padding-top: 83px;" class="genlist-widget-inner opsportal-widget-container">
    <div class="opsportal-widget-masthead">
        <div class="opsportal-widget-title-container">
            <h2 class="opsportal-widget-title">Widgets</h2>
        </div>          
        <div class="opsportal-widget-meta"><p class="opsportal-widget-meta-desc">Drag the widgets you want to view onto the Work Area:</p></div>

        
        
        
    </div>
    <div class="opsDashboard-widget-list">


    </div>
    <div class="opsDashboard-widget-list-builder">
    </div>
</div>