<div style="height: 809px; padding-top: 83px;" class="genlist-widget-inner opsportal-widget-container">
    <div class="opsportal-widget-masthead">
        <div class="opsportal-widget-title-container">
            <div><button class="ot-dashboard-button-mockup">Mockup</button></div>
            <h2 class="opsportal-widget-title">Widgets</h2>
        </div>          
        <div class="opsportal-widget-meta"><p class="opsportal-widget-meta-desc">Drag the widgets you want to view onto the Work Area:</p></div>

        
        
        
    </div>
    <div class="opsDashboard-widget-list">
        <div class="widget-option" style="border: 1px solid rgb(203, 203, 203); margin: 0px 1em 1em 0px; transition: border-color 0.3s ease 0s; padding: 4px;">
            <span class="icon">
                <i class="fa fa-bars"></i>
            </span>
            <span >Staff List</span>
        </div>

    </div>
    <div class="opsDashboard-widget-list-builder">
    </div>
</div>