svg.d4 {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size:11px;
}
.d4 .tick text {
    font-size: 12px;
    fill: #444;
    shape-rendering: crispEdges;
}

.d4 .axis .domain, .d4 .axis .tick line {
  fill: #999;
  stroke: #999;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.d4 .line, .d4 path, .d4 .connectors line {
    fill: #999;
    stroke: #222;
    stroke-width: 1px;
}

.series0 .fill  {
	fill:#1f77b4;
	}
	
.series1 .fill {
	fill:#2ca02c;
	}

.series2 .fill {
	fill:#d62728;	
	}		