
<div class='opsDashboard'>
    <div class="row" >
        <div class='col-xs-2 gmamatrix-object-widget opsDashboard-widgets'></div>
        <div class='col-xs-10 opsDashboard-stage'> 
            <ul id="dashboard-col1"></ul>
        </div>
    </div>
</div>