<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Dash Board</title>
  <link rel="stylesheet" type="text/css" href="../../dashboard.css">
  <link rel="stylesheet" type="text/css" href="../../styles/jquery.gridster.css">  
  <script type="text/javascript" src="../../js/jquery-1.11.1.min.js"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script src="../../js/jquery.gridster.js" type="text/javascript" charset="utf-8"></script>
  <script src="../../js/jquery-ui.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="../../js/dragNdrop.js"></script> 
  
  <!--Datable Tables-->
  <script type="text/javascript" language="javascript" src="../../js/data-tables.js"></script>
  <script type="text/javascript" language="javascript" src="../../js/jquery.dataTables.js"></script>
  <link rel="stylesheet" type="text/css" href="../../styles/jquery.dataTables.css">
  
  <!--D4-->
  <link href="../../styles/d4.css" rel="stylesheet" />    
  <script src="../../js/d3.js"></script>
  <script src="../../js/d4.js"></script>  
  <!--icon-->  
  <link href="../../styles/font-awesome.css" rel="stylesheet" /> 

</head>
<body>


<div id="opsportal-top"></div>
<div id="opsportal-widget-container">
    <div id="opsportal-widget-list">
    	<div id="opsportal-wl-title">
            <h4>Widgets</h4>
            <p>Drag the widgets you want to view onto the Work Area:</p>
        </div>
        <ul>  
            <li class="sglwidgets toogle" data-row="1" data-col="2" data-sizex="2" data-sizey="2">
                
                <p class="title"><i class="fa fa-bar-chart"></i>Account Balance History</p>
                
                <div class="medium parent">
                	<!--Widget Top-->
                	<div class="opsportal-widget-top">
                    	<div class="opsportal-wgt-title">Account Balance History</div>
                        <div class="opsportal-wgt-config">
                            <button class="fa fa-upload"></button>
                            <button class="fa fa-download"></button>
                            <button class="fa fa-cog"></button>
                            <!--Config Pane-->
                            <div class="config">
                                <button class="fa fa-close fa-size6"></button>
                                <div class="content-pane">
                                    <div class="pane"></div>
                                    <div class="pane"></div>
                                    <div class="pane"><p></p></div>              
                                </div>
                            </div>                    
                            <!--/Config Pane-->  
                        </div>
					<!--/Widget Top-->
                    </div>
                    <!--Widget Content-->
                    <div class="opsportal-content">
                        <div id="clone"></div>
                    </div>
                    <!--/Widget Content-->
  
                </div>
          
            </li>
      
            <li class="sglwidgets toogle" data-row="1" data-col="2" data-sizex="2" data-sizey="2">
                <p class="title"><i class="fa fa-group"></i>Staff List</p>
                <div class="small">
                	<!--Widget Top-->
                	<div class="opsportal-widget-top">
                    	<div class="opsportal-wgt-title">Staff List</div>
                        <div class="opsportal-wgt-config">
                            <button class="fa fa-upload"></button>
                            <button class="fa fa-download"></button>
                            <button class="fa fa-cog"></button>
                            <!--Config Pane-->
                            <div class="config">
                                <button class="fa fa-close fa-size6"></button>
                                <div class="content-pane">
                                    <div class="pane">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac tortor dolor. In a porta urna. Morbi luctus viverra dolor, commodo consequat sapien tincidunt at. Duis sodales ac quam nec rhoncus. Mauris porta, mauris nec gravida bibendum, mi leo tincidunt libero, eu aliquet ante nisl vel nulla. Nullam vel lacus ac sem pretium feugiat sit amet sit amet augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et urna in orci eleifend venenatis nec non odio. Proin sit amet varius mauris.</div>
                                    <div class="pane">Dolor Ecset</div>
                                    <div class="pane"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac tortor dolor. In a porta urna. Morbi luctus viverra dolor, commodo consequat sapien tincidunt at. Duis sodales ac quam nec rhoncus. Mauris porta, mauris nec gravida bibendum, mi leo tincidunt libero, eu aliquet ante nisl vel nulla. Nullam vel lacus ac sem pretium feugiat sit amet sit amet augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et urna in orci eleifend venenatis nec non odio. Proin sit amet varius mauris.</p></div>              
                                </div>
                            </div>                    
                            <!--/Config Pane-->                            
                        </div>
                    </div>    
					<!--/Widget Top-->
                    <div class="opsportal-content">
                        <div id="stlist"></div>
                    </div>        
                </div>
        
            </li>
            
            <li class="sglwidgets toogle" data-row="2" data-col="1" data-sizex="2" data-sizey="2">
                <p class="title"><i class="fa fa-th-list"></i>Staff Info</p>
              <div class="medium">
                	<!--Widget Top-->
                	<div class="opsportal-widget-top">
                    	<div class="opsportal-wgt-title">Staff Info</div>
                        <div class="opsportal-wgt-config">
                            <button class="fa fa-upload"></button>
                            <button class="fa fa-download"></button>
                            <button class="fa fa-cog"></button>
                            <!--Config Pane-->
                            <div class="config">
                                <button class="fa fa-close fa-size6"></button>
                                <div class="content-pane">
                                    <div class="pane">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac tortor dolor. In a porta urna. Morbi luctus viverra dolor, commodo consequat sapien tincidunt at. Duis sodales ac quam nec rhoncus. Mauris porta, mauris nec gravida bibendum, mi leo tincidunt libero, eu aliquet ante nisl vel nulla. Nullam vel lacus ac sem pretium feugiat sit amet sit amet augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et urna in orci eleifend venenatis nec non odio. Proin sit amet varius mauris.</div>
                                    <div class="pane">Dolor Ecset</div>
                                    <div class="pane"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac tortor dolor. In a porta urna. Morbi luctus viverra dolor, commodo consequat sapien tincidunt at. Duis sodales ac quam nec rhoncus. Mauris porta, mauris nec gravida bibendum, mi leo tincidunt libero, eu aliquet ante nisl vel nulla. Nullam vel lacus ac sem pretium feugiat sit amet sit amet augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et urna in orci eleifend venenatis nec non odio. Proin sit amet varius mauris.</p></div>              
                                </div>
                            </div>                    
                            <!--/Config Pane-->                             
                        </div>
                    </div>    
					<!--/Widget Top-->       
                  <div class="opsportal-content">
                    <div id="demo"></div>          	
                  </div>
            </div>
            </li>
        
            <li class="sglwidgets toogle" data-row="2" data-col="2" data-sizex="2" data-sizey="2">
                <p class="title"><i class="fa fa-area-chart"></i>Account Analysis</p>
                <div class="large">
                	<!--Widget Top-->
                	<div class="opsportal-widget-top">
                    	<div class="opsportal-wgt-title">Account Analysis</div>
                        <div class="opsportal-wgt-config">
                            <button class="fa fa-upload"></button>
                            <button class="fa fa-download"></button>
                            <button class="fa fa-cog"></button>
                            <!--Config Pane-->
                            <div class="config">
                                <button class="fa fa-close fa-size6"></button>
                                <div class="content-pane">
                                    <div class="pane">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac tortor dolor. In a porta urna. Morbi luctus viverra dolor, commodo consequat sapien tincidunt at. Duis sodales ac quam nec rhoncus. Mauris porta, mauris nec gravida bibendum, mi leo tincidunt libero, eu aliquet ante nisl vel nulla. Nullam vel lacus ac sem pretium feugiat sit amet sit amet augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et urna in orci eleifend venenatis nec non odio. Proin sit amet varius mauris.</div>
                                    <div class="pane">Dolor Ecset</div>
                                    <div class="pane"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac tortor dolor. In a porta urna. Morbi luctus viverra dolor, commodo consequat sapien tincidunt at. Duis sodales ac quam nec rhoncus. Mauris porta, mauris nec gravida bibendum, mi leo tincidunt libero, eu aliquet ante nisl vel nulla. Nullam vel lacus ac sem pretium feugiat sit amet sit amet augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et urna in orci eleifend venenatis nec non odio. Proin sit amet varius mauris.</p></div>              
                                </div>
                            </div>                    
                            <!--/Config Pane-->                             
                        </div>
                    </div>    
					<!--/Widget Top-->          
                      <div class="opsportal-content">
                        <div id="acc"></div>
                        <div id="accAnalysisChart"></div>          	
                      </div>
                </div>
            </li>    
        </ul>
    </div>
    <div id="opsportal-content-area">
    <div class="gridster" id="opsportal-widgets-area">
        <ul>
           
        </ul>
    </div>
    </div>
</div>

</body>
</html>
