
<div class='opsDashboard'>
    <div class="row" >
        <div class='col-xs-2 gmamatrix-object-widget opsDashboard-widgets'></div>
        <div class='col-xs-10 opsDashboard-stage'> 
            Yep, this is where your stuff should go!<br>
            I'm expecting some impressive stuff here!
        </div>
    </div>
</div>